<header>
  <%= link_to 'Meal manager', root_path, class: 'title' %>
    <% if user_signed_in? %>
      <div class="head-contents">
        <%= link_to "記録する", new_food_path, class: 'food-post'%>
        <%= link_to "マイページ", user_path(current_user.id), class: 'user_show'%>
      </div>
    <% end %>
  <div class="header-right">
    <% if user_signed_in? %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "ログイン", new_user_session_path %>
      <%= link_to "新規登録", new_user_registration_path %>
    <% end %>
  </div>
</header>