<header>
  <div class="title">
    <%= link_to 'Meal manager', root_path %>
  </div>
    <% if user_signed_in? %>
      <ul class="head-contents">
        <li>
          <%= link_to "記録する", new_food_path, class: 'post'%>
          <i class="fas fa-angle-down"></i>
        </li>
          <aside class="posts">
            <%= link_to '食べ物', new_food_path %>
          </aside>
        <li>
          <%= link_to "マイページ", user_path(current_user.id), class: 'user_show'%>
        </li>
      </ul>
    <% end %>
  <div class="header-right">
    <% if user_signed_in? %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "ログイン", new_user_session_path %>
      <%= link_to "新規登録", new_user_registration_path %>
    <% end %>
  </div>
</header>