<header>
  <div class="title">
    <%= link_to 'Meal manager', root_path %>
  </div>
  <% if user_signed_in? %>
    <div class="head-contents">
      <div class="contents-h">
        <span class="post">
          <font>記録する</font>
          <i class="fas fa-angle-down"></i>
            <%# <ul class="dropdwn">
              <li><a href="/foods/new">食べ物を記録する</a></li>
              <li class="weight"><a href="">体重を記録する</a></li>
            </ul> %>
        </span>
        <span class="user-show">
          <%= link_to "マイページ", user_path(current_user.id), class: 'user-show-link'%>
        </span>
        <div class="header-right">
          <div>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'logout'%>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <div class="right-content">
      <%= link_to "ログイン", new_user_session_path %>
      <%= link_to "新規登録", new_user_registration_path %>
    </div>
  <% end %>
</header>