<% breadcrumb :weight_post %>
<%= breadcrumbs separator: " &rsaquo; " %>
<div class="main-contents">
  <%= form_for @weight do |w| %>
    <div class="contents">
      <div class="content">
        <div class="nutrition">
          <div class="record-date">
            <%= w.label @date %>
            <%= w.date_select :date %>
          </div>
          <div class="record">
            <%= w.label :体重（kg） %><br>
            <%= w.number_field :weight %>
          </div>
        </div>
      </div>
    </div>
    <div class="actions">
      <%= w.submit "送信", class: 'submit' %>
    </div>
  <% end %>
</div>