<% breadcrumb :food_post %>
<%= breadcrumbs separator: " &rsaquo; " %>
<div class="main-contents">
  <%= form_for @foods do |f| %>
    <div class="content">
      <div class="record-date">
        <%= f.label @date %>
        <%= f.date_select :date %>
      </div>
      <div class="record">
        <%= f.label :炭水化物 %>
        <%= f.select :carbonhydrate, [100,110,120,130,140,150] %>
      </div>

      <div class="record">
        <%= f.label :タンパク質 %>
        <%= f.select :protein, [100,150,200] %>
      </div>

      <div class="record">
        <%= f.label :脂質 %>
        <%= f.select :lipid, [100,150,200] %>
      </div>

      <div class="form-submit">
        <%= f.submit "送信" %>
      </div>
    </div>
  <% end %>
  <%# <%= form_for @weights do |w| %>
    <%# <div class="content"> %>
      <div class="record">
        <%# <%= w.label :体重 %>
        <%# <%= w.select :weight, [50,55,60,65,70,75,80] %>
      </div>
    <%# </div> %>
  <%# <% end %>